:root {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    --light-grey: rgb(190, 190, 190);
    --blue: rgb(76, 142, 222);
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 22%;
    background-color: var(--blue);
    color: white;
    gap: 20px;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.sidebar-section > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-section > div > img {
    height: 1.25em;
    width: 1.25em;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(177deg) brightness(105%) contrast(101%);
    padding: 0;
    margin: 0;
}

.sidebar-section > div > a {
    font-size: 18px;
}

#sidebar-header {
    font-size: 24px;
}

#special-icon {
    height: 1.5em;
    width: 1.5em;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(177deg) brightness(105%) contrast(101%);
    padding: 0;
}

.main-container {
    width: 78%;
    background-color: var(--light-grey);
}

.header {
    width: auto;
    background-color: white;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-bar > img {
    height: 1.3em;
    width: 1.3em;
}

.profile-icon {
    height: 2em;
    width: 2em;
    background-color: var(--blue);
    border-radius: 50%;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar > img {
    height: 1.3em;
    width: 1.3em;
}

.search-bar > div {
    background-color: var(--light-grey);
    border-radius: 15px;
    height: 1.25em;
    width: 30vh;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

#smaller-text {
    font-size: 13px;
    font-weight: 500;
}

#header-button {
    background-color: var(--blue);
    border-radius: 20px;
    height: 2.5em;
    width: 6em;
    border: none;
    color: white;
    font-weight: 700;
}

.profile-icon-big {
    height: 4em;
    width: 4em;
    background-color: var(--blue);
    border-radius: 50%;
}

.main-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vb;
}

.project-container {
    flex: .75;
    background-color: var(--light-grey);
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.notification-container {
    flex: .25;
    background-color: var(--light-grey);
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project-flexbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.project-flexbox > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    border-left: 10px solid orange;
    background-color: white;
    height: 10rem;
}

.card-container {
    display: flex;
    width: 100%;
    justify-content: right;
}

.card-svg {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    height: 1.3em;
    width: 1.3em;
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.announcements > div, .trending > div {
    width: 100%;
    height: 32vb;
    background-color: white;
    border-radius: 20px;
    border-width: 0px;
}

.announcement-cards {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
}

.announcement-cards > div {
    padding: 16px;
}

#middle {
    border-top: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
}

.announcement-cards > div > p {
    font-size: 15px;
} 

.announcement-cards > div > div {
    font-size: 10px;
}